.navbar{
  padding: 15px;
  background-color: black;
}

.padder{
  padding: 5%;
  background-color: black;
}
.marquee{
  color: white;
  font-size: 2rem;
  font-weight: bolder;
}
.display-3{
  font-size: 2.2rem;
  text-align: center;
}
.navbar-dataa{
  background-color: black;
}
hr{
  border-color: red;
  border-width: medium;
}
.theme-section{
  padding:0 50px;
}
.theme-head{
  font-weight: 700;
  font-size: 1.2rem;
}
.theme-title{
  font-weight: bold;
  text-align: justify;
}
.btn{
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 0;
  margin-top: 50px;
  border-width: medium;
  font-size: 1.2rem;
}
.btn:hover{
  background-color: white;
  color: red;
  text-decoration: none;
  box-shadow: 0 0 50px 2px rgb(0 0 0 / 50%);
}
.register-button-link{
  text-decoration: none;
}
.speakers{
  margin-top: 5%;
  background-color: black;
  color: white;
  padding-bottom: 30px;
}
.speaker-tile{
  margin: 0;
}


footer{
  font-size: 0.8rem;
  text-align: center;
  padding-bottom: 10px;
  background-color: black;
  color: white;
  opacity: 0.8;
}

.map{
  text-align: center;
  padding: 50px 0;
}

.map-data{
  box-shadow: 0 0 50px 2px rgb(0 0 0 / 50%);
  border-radius: 10px;
}
