.navbar{
  padding: 15px;
  background-color: black;
}

.padder{
  padding: 5%;
  background-color: black;
}
.marquee{
  color: white;
  font-size: 2rem;
  font-weight: bolder;
}
.display-3{
  font-size: 2.2rem;
  text-align: center;
}
.navbar-dataa{
  background-color: black;
}
hr{
  border-color: red;
  border-width: medium;
}
.theme-section{
  padding:0 50px;
}
.theme-head{
  font-weight: 700;
  font-size: 1.2rem;
}
.theme-title{
  font-weight: bold;
  text-align: justify;
}
.btn{
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 0;
  margin-top: 50px;
  border-width: medium;
  font-size: 1.2rem;
}
.btn:hover{
  background-color: white;
  color: red;
  text-decoration: none;
  box-shadow: 0 0 50px 2px rgb(0 0 0 / 50%);
}
.register-button-link{
  text-decoration: none;
}


.speakers{
  margin-top: 5% ;
  background-color: black;
  color: white;
  padding: 0 0 50px 0;
}
.speaker-block{
  margin:3% 5%;
  padding-bottom: 20px;
}

.speaker-block:hover{
  cursor: pointer;
  background-color: rgba(256,0,0,0.1);
  opacity: 0.8;
}
/* .speaker-tile{
  background-color: white;
  color: black;
  padding: 0;
} */


/* modal */
.btn-close{
  padding: 10px 40px;
  color: white;
  background-color: red;
  border: 0;
  border-radius: 5px;
}

footer{
  font-size: 0.8rem;
  text-align: center;
  padding-bottom: 10px;
  background-color: black;
  color: white;
  opacity: 0.8;
}

.map{
  text-align: center;
  padding: 50px 0;
}

.map-data{
  box-shadow: 0 0 50px 2px rgb(0 0 0 / 50%);
  border-radius: 10px;
}
